@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.component-container {
  @apply w-full max-w-[1440px] flex-1 h-full font-poppins mx-auto pt-[56px] tablet:pt-[64px];
}

.main-container {
  @apply w-full px-4 py-6;

  min-height: inherit;
}