/* Contact page grid */
.contact-form,
.contact-info {
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #edede9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Title styles */
.contact-form h2,
.contact-info h2 {
  margin-bottom: 20px;
}

/* Form label styles */
label {
  display: block;
  margin-top: 10px;
}

/* Input and textarea styles */
input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}