/* Appbar.css */

/* Container styles */
.appbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Change to your preferred background color */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for a card effect */
}

/* Logo styles */
.appbar-logo {
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

/* Buttons container styles */
.appbar-buttons {
  display: flex;
  gap: 20px;
}

/* Button styles */
.appbar-buttons .MuiButton-root {
  color: #fff;
  font-weight: bold;
}

/* Actions container styles */
.appbar-actions {
  display: flex;
  gap: 10px;
}

/* Register button styles */
.appbar-actions .MuiButton-root:nth-child(1) {
  background-color: #4caf50; /* Green color for Register button */
}

/* Login button styles */
.appbar-actions .MuiButton-root:nth-child(2) {
  background-color: #00008b; /* Dark blue color for Login button */
  color: #fff;
}
